In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Práca s textom
V pandase poznáme dva druhy stĺpcov, ktoré vedia pracovať s textom:

- object - v minulosti sa dal pouzivat iba tento typ pretoze pandas si nemohol byt isty ze v stlpci budu len stringy
- StringDtype - momnentalne experimentalna featura, ktora ma velky potencial. Je odporucane pracovat s StringArray radsej ako s object, ked pracujeme s textom

In [5]:
df = pd.read_csv("dataset/train.csv")
df_texts = df.loc[:, df.dtypes == object]
df_texts.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
1,RL,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
2,RL,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
3,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Abnorml
4,RL,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal

In [7]:
df_texts.MSZoning.astype("string") #prekonvertuje stlpec typu object na typ string

0       RL
1       RL
2       RL
3       RL
4       RL
        ..
1455    RL
1456    RL
1457    RL
1458    RL
1459    RL
Name: MSZoning, Length: 1460, dtype: string

In [8]:
# da sa precastovat aj cely DF. Nieje to INPLACE operacia
df_texts.astype("string")

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,RL,Pave,<NA>,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,<NA>,<NA>,<NA>,WD,Normal
1,RL,Pave,<NA>,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,...,Attchd,RFn,TA,TA,Y,<NA>,<NA>,<NA>,WD,Normal
2,RL,Pave,<NA>,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,<NA>,<NA>,<NA>,WD,Normal
3,RL,Pave,<NA>,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,...,Detchd,Unf,TA,TA,Y,<NA>,<NA>,<NA>,WD,Abnorml
4,RL,Pave,<NA>,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,...,Attchd,RFn,TA,TA,Y,<NA>,<NA>,<NA>,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,RL,Pave,<NA>,Reg,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,Attchd,RFn,TA,TA,Y,<NA>,<NA>,<NA>,WD,Normal
1456,RL,Pave,<NA>,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,Norm,...,Attchd,Unf,TA,TA,Y,<NA>,MnPrv,<NA>,WD,Normal
1457,RL,Pave,<NA>,Reg,Lvl,AllPub,Inside,Gtl,Crawfor,Norm,...,Attchd,RFn,TA,TA,Y,<NA>,GdPrv,Shed,WD,Normal
1458,RL,Pave,<NA>,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,<NA>,<NA>,<NA>,WD,Normal
1459,RL,Pave,<NA>,Reg,Lvl,AllPub,Inside,Gtl,Edwards,Norm,...,Attchd,Fin,TA,TA,Y,<NA>,<NA>,<NA>,WD,Normal

In [10]:
type(df_texts.astype("string").loc[1, "Alley"])

pandas._libs.missing.NAType

In [17]:
df_texts.astype("string").loc[1:5, "Alley"]

1    <NA>
2    <NA>
3    <NA>
4    <NA>
5    <NA>
Name: Alley, dtype: string

In [15]:
type(df_texts.astype("string").loc[1, ["Alley"]])

pandas.core.series.Series

In [18]:
df_texts.astype("string").loc[1:5, ["Alley"]]

  Alley
1  <NA>
2  <NA>
3  <NA>
4  <NA>
5  <NA>

## Textove metody

In [19]:
df_texts.Neighborhood.head()

0    CollgCr
1    Veenker
2    CollgCr
3    Crawfor
4    NoRidge
Name: Neighborhood, dtype: object

In [20]:
df_texts.Neighborhood.value_counts()

NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
MeadowV     17
Blmngtn     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: Neighborhood, dtype: int64

In [21]:
# volanie metod str. vzdy sa musi najprv zavolat atribut str, az potom metoda.
df_texts.Neighborhood.str.lower()

0       collgcr
1       veenker
2       collgcr
3       crawfor
4       noridge
         ...
1455    gilbert
1456     nwames
1457    crawfor
1458      names
1459    edwards
Name: Neighborhood, Length: 1460, dtype: object

In [22]:
df_texts.Neighborhood.str.len()

0       7
1       7
2       7
3       7
4       7
       ..
1455    7
1456    6
1457    7
1458    5
1459    7
Name: Neighborhood, Length: 1460, dtype: int64

In [53]:
string_series = pd.Series([
    "Michal Hucko", "Bratislava", "Luis Felipe Melo Mora", " medzery ", " enter \n", "tab \t"
])
# Alebo ked chcem pracovat priamo ako string
string_series_future=pd.Series([
    'Michal Hucko', 'Bratislava', 'Luis Felipe Melo Mora', ' medzeri ', ' enter\n', 'tab\t '], dtype='string')

In [26]:
string_series #pandas series sice enter, tab nevypisi, ale pamata si ich a pri vypise sa pouzije

0             Michal Hucko
1               Bratislava
2    Luis Felipe Melo Mora
3                 medzery
4                 enter \n
5                   tab \t
dtype: object

In [27]:
string_series.str.strip().values

array(['Michal Hucko', 'Bratislava', 'Luis Felipe Melo Mora', 'medzery',
       'enter', 'tab'], dtype=object)

In [28]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [29]:
df.columns.str.upper()

Index(['ID', 'MSSUBCLASS', 'MSZONING', 'LOTFRONTAGE', 'LOTAREA', 'STREET',
       'ALLEY', 'LOTSHAPE', 'LANDCONTOUR', 'UTILITIES', 'LOTCONFIG',
       'LANDSLOPE', 'NEIGHBORHOOD', 'CONDITION1', 'CONDITION2', 'BLDGTYPE',
       'HOUSESTYLE', 'OVERALLQUAL', 'OVERALLCOND', 'YEARBUILT', 'YEARREMODADD',
       'ROOFSTYLE', 'ROOFMATL', 'EXTERIOR1ST', 'EXTERIOR2ND', 'MASVNRTYPE',
       'MASVNRAREA', 'EXTERQUAL', 'EXTERCOND', 'FOUNDATION', 'BSMTQUAL',
       'BSMTCOND', 'BSMTEXPOSURE', 'BSMTFINTYPE1', 'BSMTFINSF1',
       'BSMTFINTYPE2', 'BSMTFINSF2', 'BSMTUNFSF', 'TOTALBSMTSF', 'HEATING',
       'HEATINGQC', 'CENTRALAIR', 'ELECTRICAL', '1STFLRSF', '2NDFLRSF',
       'LOWQUALFINSF', 'GRLIVAREA', 'BSMTFULLBATH', 'BSMTHALFBATH', 'FULLBATH',
       'HALFBATH', 'BEDROOMABVGR', 'KITCHENABVGR', 'KITCHENQUAL',
       'TOTRMSABVGRD', 'FUNCTIONAL', 'FIREPLACES', 'FIREPLACEQU', 'GARAGETYPE',
       'GARAGEYRBLT', 'GARAGEFINISH', 'GARAGECARS', 'GARAGEAREA', 'GARAGEQUAL',
       'GARAGECOND', 'PAVEDDRIVE', 'WOODDECKSF', 'OPENPORCHSF',
       'ENCLOSEDPORCH', '3SSNPORCH', 'SCREENPORCH', 'POOLAREA', 'POOLQC',
       'FENCE', 'MISCFEATURE', 'MISCVAL', 'MOSOLD', 'YRSOLD', 'SALETYPE',
       'SALECONDITION', 'SALEPRICE'],
      dtype='object')

In [31]:
# operacie sa daju aj retazit
df.columns.str.lower().str.replace("a", "4")

Index(['id', 'mssubcl4ss', 'mszoning', 'lotfront4ge', 'lot4re4', 'street',
       '4lley', 'lotsh4pe', 'l4ndcontour', 'utilities', 'lotconfig',
       'l4ndslope', 'neighborhood', 'condition1', 'condition2', 'bldgtype',
       'housestyle', 'over4llqu4l', 'over4llcond', 'ye4rbuilt', 'ye4rremod4dd',
       'roofstyle', 'roofm4tl', 'exterior1st', 'exterior2nd', 'm4svnrtype',
       'm4svnr4re4', 'exterqu4l', 'extercond', 'found4tion', 'bsmtqu4l',
       'bsmtcond', 'bsmtexposure', 'bsmtfintype1', 'bsmtfinsf1',
       'bsmtfintype2', 'bsmtfinsf2', 'bsmtunfsf', 'tot4lbsmtsf', 'he4ting',
       'he4tingqc', 'centr4l4ir', 'electric4l', '1stflrsf', '2ndflrsf',
       'lowqu4lfinsf', 'grliv4re4', 'bsmtfullb4th', 'bsmth4lfb4th', 'fullb4th',
       'h4lfb4th', 'bedroom4bvgr', 'kitchen4bvgr', 'kitchenqu4l',
       'totrms4bvgrd', 'function4l', 'firepl4ces', 'firepl4cequ', 'g4r4getype',
       'g4r4geyrblt', 'g4r4gefinish', 'g4r4gec4rs', 'g4r4ge4re4', 'g4r4gequ4l',
       'g4r4gecond', 'p4veddrive', 'wooddecksf', 'openporchsf',
       'enclosedporch', '3ssnporch', 'screenporch', 'pool4re4', 'poolqc',
       'fence', 'miscfe4ture', 'miscv4l', 'mosold', 'yrsold', 's4letype',
       's4lecondition', 's4leprice'],
      dtype='object')

In [34]:
string_series = pd.Series([
    "Michal_Hucko", "Katarina_Huckova", "Andrej_Hucko", "Jano"
])
string_series

0        Michal_Hucko
1    Katarina_Huckova
2        Andrej_Hucko
3                Jano
dtype: object

In [37]:
string_series.str.split("_")

0        [Michal, Hucko]
1    [Katarina, Huckova]
2        [Andrej, Hucko]
3                 [Jano]
dtype: object

In [40]:
# Parameter expand=True nastavi na metode vypis do stlpcov, nie do listov
string_series.str.split("_", expand=True)

          0        1
0    Michal    Hucko
1  Katarina  Huckova
2    Andrej    Hucko
3      Jano     None

In [41]:
temp = string_series.str.split("_", expand=True)
temp.columns=["name", "surname"]
temp

       name  surname
0    Michal    Hucko
1  Katarina  Huckova
2    Andrej    Hucko
3      Jano     None

In [42]:
# regex replace
string_series=pd.Series([
    'Hucko', 'Huckova', 'Hucko', "Jano", np.nan])
string_series.str.replace("Hucko.*", "hruska", regex=True)

0    hruska
1    hruska
2    hruska
3      Jano
4       NaN
dtype: object

In [45]:
string_series = pd.Series([
    'Hucko', 'Huckova', 'Hucko', "Jano", np.nan])
string_series

0      Hucko
1    Huckova
2      Hucko
3       Jano
4        NaN
dtype: object

In [47]:
string_series.str.cat(sep="_", na_rep="N/A") #na_rep paramter nahradzuje NaN hodnoty

'Hucko_Huckova_Hucko_Jano_N/A'

In [48]:
string_series=pd.Series([
    'Hucko', 'Huckova', 'Hucko', "Jano", np.nan])

string_series2=pd.Series([
    'modra', 'zelena', 'cervena', "hneda", "cierna"])

string_series.str.cat(string_series2)

0       Huckomodra
1    Huckovazelena
2     Huckocervena
3        Janohneda
4              NaN
dtype: object

In [50]:
string_series.str.cat(string_series2, na_rep="")

0       Huckomodra
1    Huckovazelena
2     Huckocervena
3        Janohneda
4           cierna
dtype: object

In [51]:
string_series.str.contains("Hucko")

0     True
1     True
2     True
3    False
4      NaN
dtype: object

In [52]:
# match
regex=r".*Hucko.*"
string_series.str.match(regex)

0     True
1     True
2     True
3    False
4      NaN
dtype: object